h1
{
        color: blue;
         Text-align:center;
}
table {
    border-collapse:collapse;
    Text-align: left;
}

.redwords  {
             color: red;
             Font-weight:bold;
 }

table td { padding:10px 0; }
tr:nth-child(even) {
    background-color: gray;   
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width= "100";
}

p
{ 
	font-family: "Times New Roman, Times", serif;
         
}

body  
{
	background-color: white;
}

p
{ 
	font-family: "Arial, Verdana", Sans-serif;
}
